doctype html 
html
    head 
        title Partha's Dance Academy
        block style 
        block scripts 
    body 
        nav 
            span.navbar #[a(href="/") Home] 
            span.navbar #[a(href="/") About us]
            span.navbar #[a(href="/") Services]
            span.navbar #[a(href="/") Class info ]
            span.navbar #[a(href="/contact") Contact]

        block content 
        footer  
            | &copy; All Righths Reserved