extends base.pug

block scripts 
    script(src="../static/index.js") 

block scripts
    style 
        include ../static/style.css 
        include ../static/phone.css 

block content
    

    section.container 
        h1 Welcome to dance academy 
        p Eat,sleep,dance and repeat

    div#cardsection 
        h1 Our mission
        section.cardinfo
            div#card1.cards
                h3 Dance the way you like 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, excepturi!
            div#card2.cards
                h3 Dance perfection 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, excepturi!
            div#card3.cards
                h3 Expert teaching
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, excepturi!
        
 
        
        
