*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    color: black;
}
h1{
    text-align: center;
    margin: 1em 0em;
    font-size: 3rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 53rem;
    margin: 0.6em 0em;
    padding: 0.6em 0em;
    border-radius: 9px;
    outline: none;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}
.btn{
    width: 32rem;
    padding: 0.8rem 0rem;
    cursor: pointer;
}